.blog-card-big {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}
.blog-card-big-img {
    position: relative;
    min-height: 160px;
}
.card-tag {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.8px;
    position: absolute;
    margin-bottom: 15px;
    margin-left: 15px;
    bottom: 0;
    left: 0;
}
.blog-card-big .author-social-activities {
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 15px;
}
.blog-card-big .author-social-activities .author-activities {
    padding: 0 10px;
}
.blog-card-big-content {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
}
.blog-card-big-text {
    padding: 18px 20px;
}
.blog-card-big-text h4 {
    opacity: 0.87;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    line-height: 29px;
}
.blog-card-big-text p {
    opacity: 0.87;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: "Open Sans", sans-serif;
}
.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: #000000;
    opacity: 0.12;
    margin: 0;
}
.big-card-author-info {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author-info-horizontal {
    display: flex;
    align-items: center;
}
.author-name-date {
    padding-left: 10px;
}
.author-name.dark {
    padding: 0;
}
.author-name.dark h4 {
    color: #000000;
    opacity: .87;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .7px;
}
.author-date.dark h4 {
    opacity: 0.54;
    color: #212121;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.6px;
}
.additional-btn {
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.additional-btn div {
    width: 5px;
    height: 5px;
    background-color: #212121;
}

/* Tablet */
@media(min-width: 768px) {
    .blog-card-big-img {
        min-height: 255px;
    }
}
/* Laptop */
@media(min-width: 992px) {
    .blog-card-big-img {
        min-height: 350px;
    }
}
