.footer {
    background-color: #191919;
    padding: 15px;
}
.footer-row {
    justify-content: space-between;
    align-items: center;
}
.search input {
    background-color: rgba(0, 0, 0, 0.38);
    border: 1px solid white;
    opacity: .38;
    width: 270px;
    height: 45px;
    border-radius: 30px;
    padding: 15px;
    outline: none;
    color: white;
    font-size: 16px;
}

.footer-nav-menu {
    display: none;
}
.footer-nav-menu > ul {
    display: flex;
}
.footer-nav-menu > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    letter-spacing: .7px;
    font-weight: 500;
    font-size: 14px;
    transition: .3s;
}
.footer-nav-menu > ul > li > a:hover {
    color: #ff4081;
}
.footer-nav-menu > ul > li {
    padding: 25px 10px;
}
@media(max-width: 767px) {
    .footer-row {
        justify-content: center;
    }
    .search {
        margin-bottom: 15px;
    }
}
/* Tablet */
@media(min-width: 768px) {

}
/* Laptop */
@media(min-width: 992px) {

}
/* Desktop */
@media(min-width: 1200px) {
    .footer-nav-menu {
        display: flex;
    }
}