.main {
    background-color: #f5f5f5;
}
.main-content {
    padding-top: 30px;
}
.main-sort-field {
    height: 60px;
    box-shadow: 0 1px 0 #dddddd;
    background-color: #ffffff;
}

/* Blog Card Small */
.blog-card-small-horizontal {
    display: flex;
    background-color: white;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}
.blog-cart-small-img {
    position: relative;
    width: 260px;
    flex: 0 0 auto;
    background-color: black;
}
.blog-cart-small-img img {
    opacity: .7;
}
.blog-cart-small-horizontal-text {
    padding: 10px 20px;
}
.blog-cart-small-horizontal-text h4 {
    opacity: 0.87;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.8px;
}
.blog-cart-small-horizontal-text p {
    opacity: 0.87;
    color: #000000;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
}
.blog-card-small-horizontal-author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.social-activities {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
}
.social-activities .author-activities {
    padding: 0 5px;
    margin-bottom: 12px;
    margin-right: 5px;
}

/* Blog Card Small Vertical */
.blog-card-small-vertical-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog-card-small-vertical {
    width: 260px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    background-color: white;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}
.blog-cart-small-vertical-content {
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.blog-card-small-horizontal-author-info {
    height: 85px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.blog-card-small-vertical-img {
    position: relative;
    background-color: black;
}
.blog-card-small-vertical-img img{
    opacity: .7;
}
.vertical-card h4 {
    font-size: 15px;
}

/* Medium Card */
.blog-card-medium-vertical-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 130px;
    position: relative;
}
.blog-card-medium-vertical {
    width: 48.8%;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    background-color: white;
}
.blog-card-medium-img {
    position: relative;
    background-color: black;
}
.blog-card-medium-vertical .author-social-activities {
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 15px;
}
.show-more {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    bottom: 50px;
    cursor: pointer;
}
.more {
    color: #303f9f;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .8px;
    margin-right: 10px;
}
.show-more-arrow {
    width: 44px;
    height: 44px;
}

/* Main Images */
.main-images {
    display: flex;
}
.image-container {
    width: 12.5%;
}

/* Subscribe-section */
.subscribe-section {
    background-color: #212121;
    height: 200px;
    /* background-image: url(../images/newsletter-bg.png); */
}
.subscribe-section-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subscribe-section-content h4 {
    color: #ffffff;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 2.1px;
}
.subscribe-section-content input {
    background-color: rgba(0, 0, 0, 0.38);
    border: 1px solid white;
    opacity: .38;
    width: 270px;
    height: 45px;
    border-radius: 30px;
    padding: 15px;
    outline: none;
    color: white;
    font-size: 16px;
}

/* Navigation Block */
.navigation-block {
    background-color: white;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

@media(max-width: 767px) {
    .blog-card-small-horizontal {
        flex-wrap: wrap;
    }
    .blog-cart-small-img {
        width: 100%;
    }
}

@media(max-width: 991px) {
    .blog-card-small-vertical {
        width: 100%;
    }
}
/* Tablet */
@media(min-width: 768px) {

}
/* Laptop */
@media(min-width: 992px) {

}
/* Desktop */
@media(min-width: 1200px) {

}