.sort-container {
    height: inherit;
}
.sort-row {
    align-items: center;
    height: inherit;
}
.tag-section {
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.tag-section span{
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
    border: 1px solid transparent;
    border-radius: 20px;
    display: block;
    margin: 0 2px;
    text-align: center;
    flex: none;
}
.tag-section span:hover {
    color: #ff4081;
}
.tag-section span.active {
    border: 1px solid #ff4081;
    color: white;
    background-color: #ff4081;
    border-radius: 20px;
}

@media(max-width: 767px) {
    .tag-section {
        overflow-x: scroll;
        margin-right: 15px;
    }
    .tag-section::-webkit-scrollbar {
        display: none;
    }
    .sort-title {
        display: none;
    }
}