.navigation-block-content {
    padding: 15px 0 15px 0;
}

.search-block {
    margin: 15px 0 15px 0;
}
.search-block form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-block input {
    width: 100%;
    outline: none;
    height: 40px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #ff4081;
    color: #ff4081;
}

.search-block input::placeholder {
    color: #ff4081;
}

.search-block button {
    background-color: #ff4081;
    outline: none;
    margin: 10px;
    color: white;
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 80px;
    text-transform: uppercase;
    cursor: pointer;
}
